@charset "UTF-8";
/*variables thème*/
/*variables menus*/
body {
  margin: 0 0 10%;
}

.theme {
  background-color: #579C87;
  color: #FDCB46;
  text-align: center;
  padding: 1%;
  font-family: 'Roboto';
  font-size: 180%;
}

.theme h1 {
  margin: 0;
}

.theme--lien {
  text-decoration: none;
  color: #FDCB46;
}

.theme__proch {
  width: 43%;
  min-width: 200px;
  border-radius: 13px;
  margin: 3% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 150%;
}

.theme__proch__charge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.theme__proch__charge--points--1 {
  -webkit-animation: points 1500ms infinite;
          animation: points 1500ms infinite;
  -webkit-animation-delay: 375ms;
          animation-delay: 375ms;
}

.theme__proch__charge--points--2 {
  -webkit-animation: points 1500ms infinite;
          animation: points 1500ms infinite;
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
}

.theme__proch__charge--points--3 {
  -webkit-animation: points 1500ms infinite;
          animation: points 1500ms infinite;
  -webkit-animation-delay: 1125ms;
          animation-delay: 1125ms;
}

.theme__foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1%;
  font-size: 150%;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.theme__foot--w {
  text-decoration: none;
  color: #FDCB46;
  margin: 0 2% 0;
}

.theme__foot--w:hover {
  -webkit-animation: wiggle 100ms;
          animation: wiggle 100ms;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
}

@-webkit-keyframes points {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@keyframes points {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@-webkit-keyframes wiggle {
  25% {
    -webkit-transform: translateX(2%);
            transform: translateX(2%);
  }
  75% {
    -webkit-transform: translateX(-2%);
            transform: translateX(-2%);
  }
}

@keyframes wiggle {
  25% {
    -webkit-transform: translateX(2%);
            transform: translateX(2%);
  }
  75% {
    -webkit-transform: translateX(-2%);
            transform: translateX(-2%);
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu-prev {
  width: 250px;
  height: 350px;
  margin: 3%;
  -webkit-box-shadow: 0 0 10px gray;
          box-shadow: 0 0 10px gray;
  text-align: center;
  font-size: 150%;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: font-size 300ms ease-in-out, opacity 300ms ease-in-out;
  transition: font-size 300ms ease-in-out, opacity 300ms ease-in-out;
}

.menu-prev:hover {
  font-size: 175%;
  opacity: 0.8;
}

.menu-prev--note {
  background-color: #FCDFDB;
  color: #3C1218;
}

.menu-prev--note__fas {
  background: -webkit-linear-gradient(left, #F04A5E, #F78F6A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 150%;
  margin: 0 3%;
}

.menu-prev--note__titre {
  font-family: 'Devonshire';
  margin-top: 0.5em;
}

.menu-prev--note__titre--fin {
  font-size: 200%;
}

.menu-prev--note__menu {
  font-family: 'Kalam';
  color: #3C1218;
}

.menu-prev--chic {
  background-color: #FFF5FE;
}

.menu-prev--chic__titre {
  background: -webkit-linear-gradient(top left, #C77412, #905BFD);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Croissant One';
  font-size: 75%;
}

.menu-prev--chic__menu {
  color: #C77412;
}

.menu-prev--delice {
  background-color: #F9F9F9;
}

.menu-prev--delice__titre {
  background: -webkit-linear-gradient(top left, #0228DD, #229DF9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Dancing Script';
}

.menu-prev--delice__menu {
  color: #229DF9;
}

.menu-prev--palette__titre {
  background: -webkit-linear-gradient(top left, #3D9339, #BFFF7E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Kaushan Script';
}

.menu-prev--palette__menu {
  color: #72BF56;
}

.menu--lien {
  text-decoration: none;
  font-family: 'Kalam';
}

.menu--lien--chic {
  font-family: 'Gelasio';
}

h2 {
  font-family: 'Roboto';
  text-align: center;
}

p {
  margin: 0;
}

.barre {
  width: 30%;
  background-color: #3C1218;
  height: 10px;
}

.barre--chic1 {
  background: #C77412;
}

.barre--chic2 {
  background: #A56799;
}

.barre--chic3 {
  background: #905BFD;
}

.barre--delice1 {
  background: #229DF9;
}

.barre--delice2 {
  background: #0670F3;
}

.barre--delice3 {
  background: #0228DD;
}

.barre--palette1 {
  background: -webkit-linear-gradient(left, #3D9339, #BFFF7E);
}

.barre--palette2 {
  background: -webkit-linear-gradient(right, #3D9339, #BFFF7E);
}

.bloc {
  margin: 5%;
  -webkit-box-shadow: 0 0 10px gray;
          box-shadow: 0 0 10px gray;
  text-align: center;
  padding: 10%;
}

.bloc__fas {
  font-size: 500%;
}

.bloc__titre {
  font-size: 300%;
  margin: 0.5em;
}

.bloc__menu {
  font-family: 'Kalam';
  font-size: 120%;
}

.bloc__menu--chic {
  font-family: 'Gelasio';
}

.bloc__menu__ssTitre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: bold;
  font-size: 130%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  margin: 7% auto 5%;
}

.bloc__menu__ssTitre--souligneN {
  position: relative;
}

.bloc__menu__ssTitre--souligneN::after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 3px;
  right: 0;
  background: #3C1218;
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
}

.bloc__menu__ssTitre--souligneN:hover::after {
  width: 100%;
  left: 0;
}

.bloc__menu__ssTitre--souligneDP {
  position: relative;
}

.bloc__menu__ssTitre--souligneDP::after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 3px;
  right: 0;
  background: black;
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
}

.bloc__menu__ssTitre--souligneDP:hover::after {
  width: 100%;
  left: 0;
}

.bloc__menu__ssTitre--souligneC {
  position: relative;
}

.bloc__menu__ssTitre--souligneC::after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 3px;
  right: 0;
  background: #C77412;
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
}

.bloc__menu__ssTitre--souligneC:hover::after {
  width: 100%;
  left: 0;
}

.bloc__menu__ssTitre--souligneC1 {
  position: relative;
}

.bloc__menu__ssTitre--souligneC1::after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 3px;
  right: 0;
  background: #A56799;
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
}

.bloc__menu__ssTitre--souligneC1:hover::after {
  width: 100%;
  left: 0;
}

.bloc__menu__ssTitre--souligneC2 {
  position: relative;
}

.bloc__menu__ssTitre--souligneC2::after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 3px;
  right: 0;
  background: #905BFD;
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
}

.bloc__menu__ssTitre--souligneC2:hover::after {
  width: 100%;
  left: 0;
}

.bloc__menu__plat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bloc__menu__plat--prix {
  font-weight: bold;
}

.bloc__menu__plat--dessert {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.bloc__menu--chicEntree {
  color: #C77412;
}

.bloc__menu--chicPlat {
  color: #A56799;
}

.bloc__menu--chicDessert {
  color: #905BFD;
}

@media all and (max-device-width: 480px) {
  body {
    margin: 0 0 20%;
  }
  .menu-prev {
    width: 40%;
    height: 8.5em;
    -webkit-transition: none;
    transition: none;
  }
  .menu-prev:hover {
    font-size: 150%;
  }
}
/*# sourceMappingURL=menu.css.map */