/*variables thème*/
$couleur-theme1:#579C87;
$couleur-theme2:#FDCB46;
$points-duree: 1500ms;
$points-delay: $points-duree/4;
/*variables menus*/
$couleur-back-menuNote: #FCDFDB;
$couleur-texte-menuNote: #3C1218;
$couleur-texte-menuNote1: #F04A5E;
$couleur-texte-menuNote2: #F78F6A;
$couleur-back-menuChic: #FFF5FE;
$couleur-texte-menuChic: #C77412;
$couleur-texte-menuChic1: #A56799;
$couleur-texte-menuChic2: #905BFD;
$couleur-back-menuDelice: #F9F9F9;
$couleur-texte-menuDelice: #229DF9;
$couleur-texte-menuDelice2:#0228DD;
$couleur-texte-menuDelice3: #0670F3;
$couleur-back-menuPalette: #FDFFFD;
$couleur-texte-menuPalette: #72BF56;
$couleur-texte-menuPalette1: #3D9339;
$couleur-texte-menuPalette2: #BFFF7E;

body{
    margin: 0 0 10%;
}

.theme{
    background-color: $couleur-theme1;
    color: $couleur-theme2;
    text-align: center;
    padding: 1%;
    font-family: roboto;
    font-size: 180%;
    h1{
        margin: 0;
    }
    &--lien{
        text-decoration: none;
        color: $couleur-theme2;
    }
    &__proch{
        width: 43%;
        min-width: 200px;
        border-radius: 13px;
        margin: 3% auto;
        display: flex;
        justify-content: center;
        font-size: 150%;
        &__charge{
            display: flex;
            
            &--points{
                @for $i from 1 through 3 {
                    &--#{$i} {
                        animation: points $points-duree infinite;
                        animation-delay: $points-delay * $i;
                    }
                }
            }
        }
    }
    &__foot{
        display: flex;
        justify-content: space-between;
        margin-top: 1%;
        font-size: 150%;
        position: fixed;
        bottom: 0;
        width: 100%;
        &--w{
            text-decoration: none;
            color: $couleur-theme2;
            margin: 0 2% 0;
            &:hover{
                animation: wiggle 100ms;
                animation-iteration-count: 2;
            }
        }
    }
}

@keyframes points {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50%);
    }

}
@keyframes wiggle {
    25%{
        transform: translateX(2%);
    }
    75%{
        transform: translateX(-2%);
    }
}

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    &-prev{
    width: 250px;
    height: 350px;
    margin: 3%;
    box-shadow: 0 0 10px gray;
    text-align: center;
    font-size: 150%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: font-size 300ms ease-in-out;
    &:hover{
        font-size: 175%;
    }
        &--note{
            background-color: $couleur-back-menuNote;
            color: $couleur-texte-menuNote;
            &__fas{
                background: -webkit-linear-gradient(left, $couleur-texte-menuNote1, $couleur-texte-menuNote2);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-size: 150%;
                margin: 0 3%;
            }
            &__titre{
                font-family: 'Devonshire';
                margin-top: 0.5em;
                &--fin{
                    font-size: 200%;
                    
                }
            }
            &__menu{
                font-family: 'Kalam';
                color: $couleur-texte-menuNote;
            }
        }
        &--chic{
            background-color: $couleur-back-menuChic;
            &__titre{
                background: -webkit-linear-gradient(top left, $couleur-texte-menuChic, $couleur-texte-menuChic2);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-family: 'Croissant One';
                font-size: 75%;
            }
            &__menu{
                color: $couleur-texte-menuChic;
            }
        }
        &--delice{
            background-color: $couleur-back-menuDelice;
            &__titre{
                background: -webkit-linear-gradient(top left, $couleur-texte-menuDelice2, $couleur-texte-menuDelice);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-family: 'Dancing Script';
            }
            &__menu{
                color: $couleur-texte-menuDelice;
            } 
        }
        &--palette{
            &__titre{
                background: -webkit-linear-gradient(top left, $couleur-texte-menuPalette1, $couleur-texte-menuPalette2);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-family: 'Kaushan Script';
            }
            &__menu{
                color: $couleur-texte-menuPalette;
            }
        }
    }
    &--lien{
        text-decoration: none;
        font-family: 'Kalam';
    }
}

h2{
    font-family: 'Roboto';
    text-align: center;
}

p{
    margin: 0;
}

.barre{
    width: 30%;
    background-color: $couleur-texte-menuNote;
    height: 10px;
    &--chic1{
        background: $couleur-texte-menuChic;
    }
    &--chic2{
        background: $couleur-texte-menuChic1;
    }
    &--chic3{
        background: $couleur-texte-menuChic2;
    }
    &--delice1{
        background: $couleur-texte-menuDelice;
    }
    &--delice2{
        background: $couleur-texte-menuDelice3;
    }
    &--delice3{
        background: $couleur-texte-menuDelice2;
    }
    &--palette1{
        background: -webkit-linear-gradient(left, $couleur-texte-menuPalette1, $couleur-texte-menuPalette2);
    }
    &--palette2{
        background: -webkit-linear-gradient(right, $couleur-texte-menuPalette1, $couleur-texte-menuPalette2);
    }
}

.bloc{
    margin: 5%;
    box-shadow: 0 0 10px gray;
    text-align: center;
    padding: 10%;
    &__fas{
        font-size: 500%;
    }
    &__titre{
        font-size: 200%;
        margin: 0.5em;
    }
    &__menu{
        font-family: 'Kalam';
        font-size: 120%;
        &--chic{
            font-family: 'Gelasio';
        }
        &__ssTitre{
            display: flex;
            justify-content: space-between;
            font-weight: bold;
            font-size: 130%;
            align-items: center;
            width: auto;
            margin: 7% auto 5%;
            &--souligneN{
                position: relative;
                &::after{
                    content: '';
                    position: absolute;
                    display: block;
                    width: 0;
                    height: 3px;
                    right: 0;
                    background: $couleur-texte-menuNote;
                    transition: width 1s ease;
                }
                &:hover::after{
                    width: 100%;
                    left: 0;
                }
            }
            &--souligneDP{
                position: relative;
                &::after{
                    content: '';
                    position: absolute;
                    display: block;
                    width: 0;
                    height: 3px;
                    right: 0;
                    background: black;
                    transition: width 1s ease;
                }
                &:hover::after{
                    width: 100%;
                    left: 0;
                }
            }
            &--souligneC{
                position: relative;
                &::after{
                    content: '';
                    position: absolute;
                    display: block;
                    width: 0;
                    height: 3px;
                    right: 0;
                    background: $couleur-texte-menuChic;
                    transition: width 1s ease;
                }
                &:hover::after{
                    width: 100%;
                    left: 0;
                }
                &1{
                    position: relative;
                    &::after{
                        content: '';
                        position: absolute;
                        display: block;
                        width: 0;
                        height: 3px;
                        right: 0;
                        background: $couleur-texte-menuChic1;
                        transition: width 1s ease;
                    }
                    &:hover::after{
                        width: 100%;
                        left: 0;
                    }
                }
                &2{
                    position: relative;
                    &::after{
                        content: '';
                        position: absolute;
                        display: block;
                        width: 0;
                        height: 3px;
                        right: 0;
                        background: $couleur-texte-menuChic2;
                        transition: width 1s ease;
                    }
                    &:hover::after{
                        width: 100%;
                        left: 0;
                    }
                }
            }
        }
        &__plat{
            display: flex;
            justify-content: space-between;
            &--prix{
                font-weight: bold;
            }
            &--dessert{
                flex-direction: column;
                text-align: left;
            }
        }
        &--chicEntree{
            color: $couleur-texte-menuChic;
        }
        &--chicPlat{
            color: $couleur-texte-menuChic1;
        }
        &--chicDessert{
            color: $couleur-texte-menuChic2;
        }
    }
}

@media all and (max-device-width: 480px){
    body{
        margin: 0 0 20%;
    }
    .menu-prev{
        width: 40%;
        height: 8.5em;
        transition: none;
        &:hover{
            font-size: 150%;
        }
    }
}